# Sensitive files
.env
backend/.env
frontend/.env
.env.local

# Python caches and system files
__pycache__/
.DS_Store

# Dependency folders
node_modules/
venv/

# Build folders
build/
.docusaurus/
.vercel
